<% include ../_html/head %>
<% include ../_elements/navigation-top-bar %>

<div class="container">
    
    <h1><%= name %> Privacy Policy</h1>
    <h2>General Information</h2>
    <p>
        We collect the e-mail addresses of those who communicate with us via e-mail, aggregate information on what pages consumers access or visit, and information volunteered by the consumer (such as survey information and/or site registrations). The information we collect is used to improve the content of our Web pages and the quality of our service, and is not shared with or sold to other organizations for commercial purposes, except to provide products or services you've requested, when we have your permission, or under the following circumstances:
        <ul>
            <li>
                It is necessary to share information in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Terms of Service, or as otherwise required by law.
            </li>
            <li>
                We transfer information about you if GitHub is acquired by or merged with another company. In this event, GitHub will notify you before information about you is transferred and becomes subject to a different privacy policy.
            </li>
        </ul>
    </p>
    <h2>Cookies</h2>
    <p>
        Wij maken op deze website gebruik van cookies. Een cookie is een eenvoudig klein bestandje dat met pagina’s van deze website [en/of Flash-applicaties] wordt meegestuurd en door uw browser op uw harde schrijf van uw computer wordt opgeslagen.
    </p>
    <p>
        Wij gebruiken cookies om [het gebruik van onze webwinkel te faciliteren/ het inloggen op onze website te vergemakkelijken/ uw instellingen en voorkeuren te onthouden]. U kunt deze cookies uitzetten via uw browser [of via uw profielpagina] maar dit kan het functioneren van onze website negatief aantasten.
    </p>
    <p>
        Met uw toestemming plaatsen wij “tracking cookies” op uw computer. Deze cookies gebruiken wij om bij te houden welke pagina’s u bezoekt, om zo een profiel op te bouwen van uw online gedrag. Dit profiel is niet gekoppeld aan uw naam, adres, e-mailadres en dergelijke, maar alleen om advertenties af te stemmen op uw profiel zodat deze zo veel mogelijk relevant voor u zijn.
    </p>
    <p>
        U heeft het recht om te vragen om inzage in en correctie of verwijdering van uw gegevens. Zie hiervoor onze contactpagina. Om misbruik te voorkomen kunnen wij u vragen om u adequaat te identificeren. Wanneer het gaat om inzage in persoonsgegevens gekoppeld aan een cookie, dient u een kopie van het cookie in kwestie mee te sturen.
        <br><br>
        Cookies kunt u alleen zelf verwijderen, aangezien deze op uw computer opgeslagen zijn. Raadpleeg hiervoor de handleiding van uw browser.
    </p>
    <p>
        Via onze website wordt een cookie geplaatst van het Amerikaanse bedrijf Google, als deel van de “Analytics”-dienst. Wij gebruiken deze dienst om bij te houden en rapportages te krijgen over hoe bezoekers de website gebruiken. Google kan deze informatie aan derden verschaffen indien Google hiertoe wettelijk wordt verplicht, of voor zover derden de informatie namens Google verwerken. Wij hebben hier geen invloed op.
        <br><br>
        De informatie die Google verzamelt wordt zo veel mogelijk geanonimiseerd. Uw IP-adres wordt nadrukkelijk niet meegegeven. De informatie wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde Staten.
    </p>
    

</div>

<% include ../_html/scripts %>