<% include ../_elements/navigation-top-bar %>

<div class="splashscreen">
    
    <div class="container">
        <div class="row">
            <div class="col-md-6 splashscreen-left">
                <h1 class="text-XL">Blogstart</h1>
                <p class="text-L">
                    Vivamus urna magna, malesuada in fermentum vel, pellentesque id erat. Donec at tempor enim. Aenean sed fermentum lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin tincidunt pellentesque sodales. Proin vitae tincidunt purus, in elementum ex.
                </p>
            </div>
            <div class="col-md-4 col-md-offset-2 splashscreen-right">
                <form>
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <a class="btn btn-block btn-success btn-lg" href="#">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    
</div>
<div class="splashscreen-message-bar">
    <h2>Welcome</h2>
    <p>
        This is just an other message from <span class="text-accent">BlogStart</span>
    </p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-thumbnail" src="http://cdn.maxbuttons.com/wp-content/themes/maxbuttons-theme/images/placeholder-240x180.png">
            <h3>Great feature</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium velit odio, vel venenatis urna porttitor eu. Suspendisse pulvinar dui ante, sed ullamcorper enim scelerisque ac. Sed at elementum risus.
            </p>
        </div>
         <div class="col-md-3">
            <img class="img-thumbnail" src="http://cdn.maxbuttons.com/wp-content/themes/maxbuttons-theme/images/placeholder-240x180.png">
            <h3>Better performance</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium velit odio, vel venenatis urna porttitor eu. Suspendisse pulvinar dui ante, sed ullamcorper enim scelerisque ac. Sed at elementum risus.
            </p>
        </div>
         <div class="col-md-3">
            <img class="img-thumbnail" src="http://cdn.maxbuttons.com/wp-content/themes/maxbuttons-theme/images/placeholder-240x180.png">
            <h3>Millions things</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium velit odio, vel venenatis urna porttitor eu. Suspendisse pulvinar dui ante, sed ullamcorper enim scelerisque ac. Sed at elementum risus.
            </p>
        </div>
         <div class="col-md-3">
            <img class="img-thumbnail" src="http://cdn.maxbuttons.com/wp-content/themes/maxbuttons-theme/images/placeholder-240x180.png">
            <h3>One solution</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium velit odio, vel venenatis urna porttitor eu. Suspendisse pulvinar dui ante, sed ullamcorper enim scelerisque ac. Sed at elementum risus.
            </p>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>BlogStart First article</h1>
            <p>
                Etiam sodales enim dolor, sed aliquam ante tempus consequat. Nunc vitae ex sit amet ante iaculis rhoncus. Sed tempor ullamcorper ipsum, vel vestibulum dolor consequat et. Donec luctus tortor ac lobortis lacinia. Cras posuere, diam vel pretium cursus, felis orci tincidunt sapien, non consequat diam nisl quis mauris. Cras lacus sem, imperdiet nec placerat vitae, tempor eu libero. Praesent cursus sem sed massa tempor, quis sollicitudin elit ullamcorper. Maecenas ullamcorper, orci rutrum rhoncus iaculis, magna nunc elementum dolor, quis hendrerit enim lacus eu metus. Praesent felis justo, dignissim vitae fermentum sed, auctor sit amet mi. Donec sem ipsum, porta dignissim sagittis eget, sollicitudin non lorem. Etiam non massa ut dui tincidunt ornare. Nam fringilla erat eget ex maximus sodales. Mauris eget rutrum dolor. Curabitur faucibus, orci ac consectetur ultricies, orci dui laoreet orci, in rutrum neque massa sed tellus. Maecenas nec eros ut augue consequat pretium.
            </p>
        </div>
    </div>

</div>



<style>
.blogstart-nav {
    background:#e4e7e7;
    border: none;
    border-radius: 0;
    color: black;
    margin-bottom: 0px;
    z-index: 10;
    box-shadow: 2px 2px 3px black;
}
.navbar-brand {
    background: black;
}
.navbar-default .navbar-nav>li>a {
    color: black;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background: rgba(10,10,10,.2);
    color: black;
}
.splashscreen {
    width: 100%;
    height: 40vh;
    background: linear-gradient(141deg, #99ccff 0%, #336600 51%, #663300 75%);;
}
.splashscreen-left {
    margin-top: 100px;
}
.splashscreen-right {
    margin-top:30%;
    max-height: 30vh;
}
.splashscreen h1,
.splashscreen p {
    color: white;
}
.text-XL {
    font-size: 4em;
}
.text-L {
    font-size: 1.3em;
    font-weight: 300;
}
.splashscreen-message-bar {
    width: 100%;
    padding: 20px 0px 20px 0px;
    background: #eee;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    height: auto;
    line-height: 100%;
    vertical-align: middle;
    margin-bottom: 50px;
}
.text-accent {
    color: #993300;
}

</style>