<% include ../_elements/navigation-top-bar %>

<div class="splashscreen">
    <div class="splashcreen-logo">&#10070;</div>
    <div class="splashcreen-logo-motto">Quick, simple and SEO proof.</div>
    <div class="splashcreen-logo-button">
        <a class="btn btn-default btn-lg">GET STARTED</a></div>
</div>
<div class="splashscreen-message-bar">
    <p>
        This is just an other message from <span class="text-accent">BlogStart</span>
    </p>
</div>

<div class="container">
<div class="row summary">
    <div class="col-md-4">
        <h2>Learn</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium velit odio, vel venenatis urna porttitor eu. Suspendisse pulvinar dui ante, sed ullamcorper enim scelerisque ac. Sed at elementum risus. In eros erat, porta sed justo nec, congue bibendum diam. Maecenas rutrum fringilla est eget interdum. Nam malesuada vitae lorem at vehicula. Sed aliquet nisl non nisi molestie tincidunt et id arcu. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Share</h2>
        <p>
            Vivamus urna magna, malesuada in fermentum vel, pellentesque id erat. Donec at tempor enim. Aenean sed fermentum lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin tincidunt pellentesque sodales. Proin vitae tincidunt purus, in elementum ex.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Buy</h2>
        <p>
            Aenean porta, lacus eget pellentesque ornare, velit lorem volutpat mi, non imperdiet est ante a est. Nulla porttitor tincidunt mi, commodo sollicitudin est vehicula a. Sed commodo fermentum venenatis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque cursus, ipsum sit amet rutrum fermentum, ipsum lectus lobortis risus, non blandit lectus mi vitae sem.
        </p>
    </div>
</div>
<div class="row">
    <h1>BlogStart First article</h1>
    <p>
        Etiam sodales enim dolor, sed aliquam ante tempus consequat. Nunc vitae ex sit amet ante iaculis rhoncus. Sed tempor ullamcorper ipsum, vel vestibulum dolor consequat et. Donec luctus tortor ac lobortis lacinia. Cras posuere, diam vel pretium cursus, felis orci tincidunt sapien, non consequat diam nisl quis mauris. Cras lacus sem, imperdiet nec placerat vitae, tempor eu libero. Praesent cursus sem sed massa tempor, quis sollicitudin elit ullamcorper. Maecenas ullamcorper, orci rutrum rhoncus iaculis, magna nunc elementum dolor, quis hendrerit enim lacus eu metus. Praesent felis justo, dignissim vitae fermentum sed, auctor sit amet mi. Donec sem ipsum, porta dignissim sagittis eget, sollicitudin non lorem. Etiam non massa ut dui tincidunt ornare. Nam fringilla erat eget ex maximus sodales. Mauris eget rutrum dolor. Curabitur faucibus, orci ac consectetur ultricies, orci dui laoreet orci, in rutrum neque massa sed tellus. Maecenas nec eros ut augue consequat pretium.
    </p>
</div>

</div>



<style>
.blogstart-nav {
    background:#993300;
    border: none;
    border-radius: 0;
    color: black;
    margin-bottom: 0px;
    z-index: 10;
    box-shadow: 2px 2px 3px black;
}
.navbar-brand {
    background: black;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background: rgba(10,10,10,.2);
    color: white;
}
.splashscreen {
    width: 100%;
    height: 40vh;
    background: linear-gradient(141deg, #0000ff 0%, #6666ff 51%, #2cb5e8 75%);;
}
.splashcreen-logo {
    padding-top: 50px;
    font-size: 13em;
    color: #993300;
    text-align: center;
}
.splashcreen-logo-motto {
    color: white;
    text-align: center;
    font-size: 2em;    
}
.splashcreen-logo-button {
    margin-top: 80px;
    text-align: center;
}
.splashscreen-message-bar {
    width: 100%;
    padding: 20px 0px 10px 0px;
    background: #eee;
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    height: auto;
    line-height: 100%;
    vertical-align: middle;
}
.text-accent {
    color: #993300;
}
.summary {
    margin-top: 50px;
    margin-bottom: 50px;
}
</style>