<% include ./_html/head %>

<% include ./_elements/navigation-top-bar %>
<div class="container">
        <div class="row">
            <h1><i class="fa fa-frown-o" aria-hidden="true"></i> Page not found.</h1>
            <p>
                Sorry, but <code><%= url %></code> isn't a page of this website.
            </p>
            <a class="btn btn-danger btn-lg" href="/">Go back to the homepage.</a>
        </div>
</div>

<% include ./_html/scripts %>