<h2>Statistics</h2>

<div class="row">
    <div class="col-xs-4 statistics-box" title="visitors / month">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <p>2365</p>
    </div>
    <div class="col-xs-4 statistics-box" title="members">
        <i class="fa fa-users"></i>
        <p>16</p>
    </div>
    <div class="col-xs-4 statistics-box" title="articles">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <p>21</p>
    </div>
    <div class="col-xs-4 statistics-box" title="views">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <p>274</p>
    </div>
    <div class="col-xs-4 statistics-box" title="likes">
        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        <p>17</p>
    </div>
    <div class="col-xs-4 statistics-box" title="comments">
        <i class="fa fa-comments" aria-hidden="true"></i>
        <p>23</p>
    </div>
    
    
</div>

<style>
    .statistics-box {
        font-size: 20px;
        text-align:center;
        border: 1px solid #eee;
        padding: 20px 10px 10px 10px;
    }
    .statistics-box p {
        font-weight: 600;
    }
</style>
